.nav {
  background-color: #1db954;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
}

.nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  width: 15%;
}

.nav li {
  flex: 1;
  background-color: #11632e;
  border-right: 1px solid #191414;
}

.nav a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  color: white;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.nav li:hover {
  background-color: #191414;
}

.site-title {
  margin-left: 10px;
}
